In [2]:
import quandl
import pandas as pd
import numpy as np



quandl.ApiConfig.api_key = 'PRemcPEEZsHua9eMcurU'

In [4]:
A_zill_data = pd.read_csv('../data/ATL_Listings.csv')
A_zill_data.head()

,Zip Code,City,County,Median Listing Price - All Homes,Median Listing Price Per Square Foot - All Homes,Median Rental Price - All Homes,Median Rental Price Per Square Foot - All Homes,Median Sold Price - All Homes,Median Value Per Square Foot - All Homes,New Monthly Listings - NSA - All Homes,New Monthly Listings - SA - All Homes,Percent Of Homes Decreasing In Values - All Homes,Percent Of Homes Increasing In Values - All Homes,Percent Of Listings With Price Reductions - All Homes,Price To Rent Ratio - All Homes,Turnover - All Homes,Unsold Renos - All Homes,Zillow Home Value Index - All Homes,Zillow Rental Index - All Homes
0,30004,Alpharetta,Fulton,540000.0,175.844051,1900.0,0.946454,323130.0,491.0,125.0,95.0,45.09,54.16,13.210702,16.00,4.0770,30.3,463781.0,2225.0
1,30005,Alpharetta,Fulton,489000.0,176.872670,2245.0,0.925988,406320.0,496.0,56.0,41.0,27.84,71.68,13.438735,27.52,5.0629,27.0,468553.0,2392.0
2,30009,Alpharetta,Fulton,556100.5,215.593750,2000.0,1.163829,299725.0,423.0,63.0,51.0,28.48,71.11,11.983471,32.66,5.0651,58.2,413467.0,2148.0
3,30022,Alpharetta,Fulton,449900.0,166.361225,1950.0,0.962082,368650.0,400.0,78.0,65.0,27.12,72.49,13.238771,34.58,3.9620,35.2,437304.0,2273.0
4,30075,Roswell,Fulton,515000.0,184.085815,2185.0,1.022222,367050.0,354.0,116.0,82.0,36.93,62.58,16.263736,27.48,4.5314,37.4,450374.0,2274.0

In [6]:
A_race_data = pd.read_csv('../data/ATL_race_by_zip_code.csv')
A_race_data.head()

,Zip Code,pHisp_e,pNHBlack_e,pNH_AmInd_e,pNH_Asian_e,pNH_PacIsl_e,pNH_OthRace_e,pNH_TwoRace_e,% Minority
0,30168,22.2,61.0,0.0,0.5,0.0,0.1,0.6,84.4
1,31401,5.7,41.0,0.0,2.9,0.0,0.4,1.5,51.5
2,30170,3.5,5.0,0.0,0.0,0.4,0.2,0.8,9.9
3,30171,0.3,0.4,0.0,0.0,0.0,0.0,3.9,4.6
4,30173,2.4,3.5,0.0,0.0,0.0,0.0,2.6,8.5

In [7]:
A_all_data = A_zill_data.merge(A_race_data, how='left', on='Zip Code')
A_all_data

,Zip Code,City,County,Median Listing Price - All Homes,Median Listing Price Per Square Foot - All Homes,Median Rental Price - All Homes,Median Rental Price Per Square Foot - All Homes,Median Sold Price - All Homes,Median Value Per Square Foot - All Homes,New Monthly Listings - NSA - All Homes,...,Zillow Home Value Index - All Homes,Zillow Rental Index - All Homes,pHisp_e,pNHBlack_e,pNH_AmInd_e,pNH_Asian_e,pNH_PacIsl_e,pNH_OthRace_e,pNH_TwoRace_e,% Minority
0,30004,Alpharetta,Fulton,540000.0,175.844051,1900.0,0.946454,323130.0,491.0,125.0,...,463781.0,2225.0,11.9,8.4,0.1,10.6,0.1,0.4,3.0,34.5
1,30005,Alpharetta,Fulton,489000.0,176.872670,2245.0,0.925988,406320.0,496.0,56.0,...,468553.0,2392.0,5.9,9.7,0.5,25.5,0.1,0.2,2.4,44.3
2,30009,Alpharetta,Fulton,556100.5,215.593750,2000.0,1.163829,299725.0,423.0,63.0,...,413467.0,2148.0,9.8,10.6,0.2,13.4,0.0,1.7,1.8,37.5
3,30022,Alpharetta,Fulton,449900.0,166.361225,1950.0,0.962082,368650.0,400.0,78.0,...,437304.0,2273.0,8.5,11.7,0.1,17.0,0.0,0.8,2.5,40.6
4,30075,Roswell,Fulton,515000.0,184.085815,2185.0,1.022222,367050.0,354.0,116.0,...,450374.0,2274.0,5.9,9.5,0.3,4.1,0.0,0.2,2.2,22.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,30253,Mcdonough,Henry,216499.5,98.331884,1449.0,0.794764,163550.0,135.0,87.0,...,204702.0,1494.0,7.4,49.8,0.1,4.5,0.0,0.0,3.2,65.0
131,30281,Stockbridge,Henry,218900.0,98.763889,1340.0,0.802055,145150.0,129.0,76.0,...,186181.0,1386.0,8.1,45.6,0.2,4.5,0.0,0.7,2.1,61.2
132,30012,Conyers,Rockdale,175950.0,95.213709,1210.0,0.754916,78500.0,233.0,49.0,...,154284.0,1251.0,18.0,44.5,0.2,1.3,0.8,0.1,0.8,65.7
133,30013,Conyers,Rockdale,239900.0,97.914400,1195.0,0.769231,137462.5,182.0,28.0,...,198094.0,1384.0,7.8,62.6,0.0,2.3,0.0,0.0,2.1,74.8
134,30094,Conyers,Rockdale,216500.0,99.132052,1365.0,0.838983,161050.0,250.0,34.0,...,200362.0,1397.0,6.1,50.5,0.1,2.3,0.0,0.3,2.3,61.6

In [8]:
#Convert to csv
A_all_data.to_csv("../data/ATL_all_data.csv", encoding="utf-8", index=True, header=True)

In [12]:
A_majority_minority = A_all_data.loc[(A_all_data['% Minority'] > 50)]
A_majority_minority

,Zip Code,City,County,Median Listing Price - All Homes,Median Listing Price Per Square Foot - All Homes,Median Rental Price - All Homes,Median Rental Price Per Square Foot - All Homes,Median Sold Price - All Homes,Median Value Per Square Foot - All Homes,New Monthly Listings - NSA - All Homes,...,Zillow Home Value Index - All Homes,Zillow Rental Index - All Homes,pHisp_e,pNHBlack_e,pNH_AmInd_e,pNH_Asian_e,pNH_PacIsl_e,pNH_OthRace_e,pNH_TwoRace_e,% Minority
6,30097,Duluth,Fulton,475000.0,151.234803,2000.0,0.840823,331100.0000,145.0,74.0,...,462955.0,2340.0,6.1,10.8,0.2,38.8,0.0,0.3,2.0,58.2
7,30213,Fairburn,Fulton,228380.0,93.589419,1545.0,0.794118,164625.0000,188.0,56.0,...,203130.0,1528.0,7.8,76.8,0.0,0.1,0.0,0.2,0.4,85.3
8,30268,Palmetto,Fulton,277450.0,121.951220,NaN,NaN,148846.1538,299.0,14.0,...,189892.0,1421.0,16.0,37.5,0.1,0.5,0.0,0.0,0.8,54.9
9,30291,Union City,Fulton,150990.0,81.021576,1275.0,0.760026,73575.0000,22.0,23.0,...,151501.0,1315.0,4.7,84.6,0.0,0.1,0.0,0.0,0.8,90.2
10,30303,Atlanta,Fulton,NaN,NaN,NaN,NaN,148900.0000,206.0,NaN,...,219973.0,1632.0,7.4,55.9,0.3,5.8,0.0,0.0,3.2,72.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,30253,Mcdonough,Henry,216499.5,98.331884,1449.0,0.794764,163550.0000,135.0,87.0,...,204702.0,1494.0,7.4,49.8,0.1,4.5,0.0,0.0,3.2,65.0
131,30281,Stockbridge,Henry,218900.0,98.763889,1340.0,0.802055,145150.0000,129.0,76.0,...,186181.0,1386.0,8.1,45.6,0.2,4.5,0.0,0.7,2.1,61.2
132,30012,Conyers,Rockdale,175950.0,95.213709,1210.0,0.754916,78500.0000,233.0,49.0,...,154284.0,1251.0,18.0,44.5,0.2,1.3,0.8,0.1,0.8,65.7
133,30013,Conyers,Rockdale,239900.0,97.914400,1195.0,0.769231,137462.5000,182.0,28.0,...,198094.0,1384.0,7.8,62.6,0.0,2.3,0.0,0.0,2.1,74.8
134,30094,Conyers,Rockdale,216500.0,99.132052,1365.0,0.838983,161050.0000,250.0,34.0,...,200362.0,1397.0,6.1,50.5,0.1,2.3,0.0,0.3,2.3,61.6

In [13]:
#Convert to csv
A_majority_minority.to_csv("../data/ATL_majority_minority.csv", encoding="utf-8", index=True, header=True)

In [15]:
A_majority_white = A_all_data.loc[(A_all_data['% Minority'] <= 50)]
A_majority_white.head()

,Zip Code,City,County,Median Listing Price - All Homes,Median Listing Price Per Square Foot - All Homes,Median Rental Price - All Homes,Median Rental Price Per Square Foot - All Homes,Median Sold Price - All Homes,Median Value Per Square Foot - All Homes,New Monthly Listings - NSA - All Homes,...,Zillow Home Value Index - All Homes,Zillow Rental Index - All Homes,pHisp_e,pNHBlack_e,pNH_AmInd_e,pNH_Asian_e,pNH_PacIsl_e,pNH_OthRace_e,pNH_TwoRace_e,% Minority
0,30004,Alpharetta,Fulton,540000.0,175.844051,1900.0,0.946454,323130.0,491.0,125.0,...,463781.0,2225.0,11.9,8.4,0.1,10.6,0.1,0.4,3.0,34.5
1,30005,Alpharetta,Fulton,489000.0,176.872670,2245.0,0.925988,406320.0,496.0,56.0,...,468553.0,2392.0,5.9,9.7,0.5,25.5,0.1,0.2,2.4,44.3
2,30009,Alpharetta,Fulton,556100.5,215.593750,2000.0,1.163829,299725.0,423.0,63.0,...,413467.0,2148.0,9.8,10.6,0.2,13.4,0.0,1.7,1.8,37.5
3,30022,Alpharetta,Fulton,449900.0,166.361225,1950.0,0.962082,368650.0,400.0,78.0,...,437304.0,2273.0,8.5,11.7,0.1,17.0,0.0,0.8,2.5,40.6
4,30075,Roswell,Fulton,515000.0,184.085815,2185.0,1.022222,367050.0,354.0,116.0,...,450374.0,2274.0,5.9,9.5,0.3,4.1,0.0,0.2,2.2,22.2

In [16]:
#Convert to csv
A_majority_white.to_csv("../data/ATL_majority_white.csv", encoding="utf-8", index=True, header=True)